.float-left {
    float:left;
}
.float-right {
    float:right;
}

.mobilize-numeric-nav > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
    margin: 0 0.4em;
}

.btn.mobilize {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  background-color: #7d7d7d;
  border-radius: 6px;
}

.btn.mobilize:hover {
  background-color: #5c5c5c; /* Green */
}

/* Images */
.mobilize-event-image {
    max-width: 100%;
    height: auto;
}

/*
 * Loader
 */
 .loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #999999, 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.5), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.5), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.5), 2.5em 0em 0 0em rgba(100, 100, 100, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.5), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.5), 0em 2.5em 0 0em rgba(100, 100, 100, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.5), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.5), -2.6em 0em 0 0em rgba(100, 100, 100, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.5), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.5), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.5), 2.5em 0em 0 0em rgba(100, 100, 100, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.5), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.2), -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.5), 0em 2.5em 0 0em rgba(100, 100, 100, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(100, 100, 100, 0.2), -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.5), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 100, 100, 0.2), 1.8em -1.8em 0 0em rgba(100, 100, 100, 0.2), 2.5em 0em 0 0em rgba(100, 100, 100, 0.2), 1.75em 1.75em 0 0em rgba(100, 100, 100, 0.2), 0em 2.5em 0 0em rgba(100, 100, 100, 0.2), -1.8em 1.8em 0 0em rgba(100, 100, 100, 0.5), -2.6em 0em 0 0em rgba(100, 100, 100, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/*
 * Buttons
 */

.btn-event:focus, .btn-event:hover {
    text-decoration: none;
}
.btn-event {
    color: #f5f8f7;
    background-color: #2f70b7;
    border-color: #2c6aad;
}
.btn-event:hover {
    color: #f5f8f7;
    background-color: #29619e;
    border-color: #2c6aad;
}
.btn-event {
    border-radius: 2px;
    padding: .5em;
}
.float-right {
    float: right;
}
.btn-events-block {
    display: block;
    width: 100%;
    text-align: center;
}


/*
 * Grid
 */
.col-md-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
.col-md-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

/*
 * Wrapper
 */
.mobilize-america-event {
    padding: .25rem !important;
    margin-bottom: .5rem !important;
    border: 1px solid #dee2e6 !important;
    border-top-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-bottom-color: rgb(222, 226, 230);
    border-left-color: rgb(222, 226, 230);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Media Queries */
@media (min-width: 576px) {
    .mobilize-event-image {
        max-width: 50%;
        height: auto;
    }
}
